<!DOCTYPE html>
<!--DEVELOPMENT--><!--
  // index.html
  // This is the core tuitpix aplication
  // it will be compressed thanks dryice, using the ./Makefile.js
  // The output will be index.min.html
  // It wont content anything that is between the DEVELOPMENT tags,
  // instead, it will have everything that is in the PRODUCTION tags.
  --><!--DEVELOPMENT-->
<html lang="en" ng-app="tuitpix">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Tuitpix</title>
	<meta name="author" content="Daniel Rodríguez @sadasant and Mada Mohamad @dll32exe">
	<meta name="description" content="Pixel Art Avatar Maker">

	<!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
	<link href="/img/favicon.ico" rel="icon" type="image/x-icon">

<!--DEVELOPMENT-->
	<link rel="stylesheet" href="assets/lib/normalize.css">
	<link rel="stylesheet" href="assets/css/overwrite_libs.css">
	<link rel="stylesheet" href="assets/css/general.css">
	<link rel="stylesheet" href="assets/css/sidebar.css">
	<link rel="stylesheet" href="assets/css/options.css">
	<link rel="stylesheet" href="assets/css/avatar.css">
	<link rel="stylesheet" href="assets/css/colors.css">
	<link rel="stylesheet" href="assets/css/tuitpix.css">
<!--DEVELOPMENT--><!--PRODUCTION
	<link rel="stylesheet" href="assets/tuitpix.css" type="text/css" media="screen" charset="utf-8">
PRODUCTION-->

</head>
<body>

<!--DEVELOPMENT--><!--
  // The sidebar is the main menu of Tuitpix.
  --><!--DEVELOPMENT-->
	<div id="sidebar">
		<div class="logo">
			<img src="img/tuitpix.png" alt="" />
			<br />
			<p>
				Pixel Art Avatar Maker
			</p>
		</div>
		<ul id="menu">
			<li id="menu-body" class="active" > body </li>
			<li id="menu-outfit" class="" >
				<span>general</span>
				outfit
				<ul>
					<li id="menu-outfit-casual"  class="" >  casual  outfit </li>
					<li id="menu-outfit-formal"  class="" >  formal  outfit </li>
					<li id="menu-outfit-special" class="" >  special outfit </li>
				</ul>
			</li>
			<li id="menu-hair"   class="" >
				<span>general</span>
				hair
				<ul>
					<li id="menu-hair-hats" class="" > hats </li>
					<li id="menu-hair-special" class="" >  special hair </li>
				</ul>
			</li>
			<li id="menu-beard"  class="" > beard  </li>
			<li id="menu-addons" class="" > addons </li>
			<li id="menu-saved"  class="" > saved  </li>
			<li id="menu-maker"  class="" > maker  </li>
		</ul>
		<div class="author">
			<p>
				Copyright (c) 2013
				<br />
				<a href="http://sadasant.com" target="blank_">Daniel Rodríguez</a> and
				<br />
				<a href="http://dark-souls.net" target="blank_">Mada Mohamad</a>
				<br />
				<a href="https://github.com/sadasant/tuitpix/" target="blank_">Repo</a>.
			</p>
		</div>
	</div>

<!--DEVELOPMENT--><!--
  // The options element is where all the alternatives will appear.
  // They will be scrollable.
  // In the mobile version, it will appear below the avater?
  --><!--DEVELOPMENT-->
	<ul id="options">
		<div class="option"><div class="three-dots"></div></div>
		<div class="option"><div class="three-dots"></div></div>
		<div class="option"><div class="three-dots"></div></div>
		<div class="option"><div class="three-dots"></div></div>
		<div class="option"><div class="three-dots"></div></div>
		<div class="option"><div class="three-dots"></div></div>
	</ul>

<!--DEVELOPMENT--><!--
  // The avatar element will hold the avatar's canvas and colors.
  --><!--DEVELOPMENT-->
	<div id="avatar">
		<!--
		<img src="img/dan_by_mada_big.png" alt="" />
		-->
		<div class="avatar-block">
			<canvas id="avatar-canvas"></canvas>
			<br />
			<div class="buttons">
				<div id="import" style="display:none;">► Import</div>
				<div id="save">Save ▲</div>
				<div id="export">Export ►</div>
			</div>
		</div>
		<ul id="colors">
			<li class="color"></li>
			<li class="color"></li>
			<li class="color"></li>
		</ul>
	</div>

<!--DEVELOPMENT-->

	<!-- Libraries -->
	<script src="assets/lib/store.js"></script>
	<script src="assets/lib/jquery.js"></script>
	<script src="assets/lib/jquery.slimscroll.js"></script>
	<script src="assets/lib/jscolor.js"></script>

	<!-- Tuitpix -->
	<script>
		var tuitpix = {};
	</script>
	<script src="assets/tuitpix/utils.js"  ></script>
	<script src="assets/tuitpix/ui.js"     ></script>
	<script src="assets/tuitpix/events.js" ></script>
	<script src="assets/tuitpix/canvas.js" ></script>
	<script src="assets/tuitpix/avatar.js" ></script>
	<script src="assets/tuitpix/maker.js"  ></script>
	<script src="assets/tuitpix/user.js"   ></script>
	<script src="assets/tuitpix/main.js"   ></script>
	<script>
		tuitpix.main();
	</script>

<!--DEVELOPMENT--><!--PRODUCTION
	<script> var XSRF = "{{.XSRF}}"; </script>
	<script src="assets/tuitpix.js"></script>
PRODUCTION-->

</body>
</html>
