/*
 * avatar.css
 * Copyright (c) 2013 Daniel Rodriguez
 * MIT License [http://www.opensource.org/licenses/mit-license.php]
 *
 * The second left-bar is where the options per-category appear.
 *
 */

#avatar {
    position      : absolute;
    right         : 0px;
    left          : 420px;
    top           : 0px;
    bottom        : 0px;
    text-align    : center;
    padding-top   : 8%;
    padding-right : 30px;
    background    : -moz-radial-gradient(ellipse at center, rgba(95,95,95,1) 0%,rgba(65,65,65,.2) 45%, rgba(35,35,35,0) 90%);
    background    :   -o-radial-gradient(ellipse at center, rgba(95,95,95,1) 0%,rgba(65,65,65,.2) 45%, rgba(35,35,35,0) 90%);
    background    :  -ms-radial-gradient(ellipse at center, rgba(95,95,95,1) 0%,rgba(65,65,65,.2) 45%, rgba(35,35,35,0) 90%);
    background    :      radial-gradient(ellipse at center, rgba(95,95,95,1) 0%,rgba(65,65,65,.2) 45%, rgba(35,35,35,0) 90%);
}

#avatar .avatar-block {
    width      : 350px;
    margin-top : 30px;
    display    : inline-block;
    -webkit-user-select : none;
     -khtml-user-select : none;
       -moz-user-select : moz-none;
        -ms-user-select : none;
            user-select : none;
}

#avatar canvas {
    display : inline-block;
}

#avatar.maker {
    cursor : crosshair;
}

#avatar .buttons {
    margin-left : 33px;
}

#avatar .buttons * {
    opacity       : .5;
    background    : #369aa9;
    width         : 100px;
    height        : 20px;
    display       : inline-block;
    margin-top    : 10px;
    margin-right  : 10px;
    border-bottom : 3px solid #166A79;
    padding       : 10px;
    color         : white;
    text-align    : center;
    font-weight   : bold;
    cursor        : pointer;
    text-shadow   : -1px -1px 0 #166A79;
    -webkit-border-radius : 3px;
       -moz-border-radius : 3px;
         -o-border-radius : 3px;
        -ms-border-radius : 3px;
            border-radius : 3px;
    -webkit-box-shadow : inset 0 0 30px rgba(0, 55, 55, .5);
       -moz-box-shadow : inset 0 0 30px rgba(0, 55, 55, .5);
         -o-box-shadow : inset 0 0 30px rgba(0, 55, 55, .5);
        -ms-box-shadow : inset 0 0 30px rgba(0, 55, 55, .5);
            box-shadow : inset 0 0 30px rgba(0, 55, 55, .5);
}

#avatar .avatar-block:hover .buttons * {
    opacity : 1;
}

#avatar .avatar-block:hover .buttons *:hover {
    background    : #36CAC9;
    border-bottom : 3px solid #168A89;
    text-shadow   : -1px -1px 0 #168A89;
}
