/*
 * colors.css
 * Copyright (c) 2013 Daniel Rodriguez
 * MIT License [http://www.opensource.org/licenses/mit-license.php]
 *
 * Colors are a list of inputs as much as colors are in an avatar.
 * They appear in the most-right of the website.
 *
 */

#colors {
    position   : absolute;
    right      : 0;
    top        : 0;
    list-style : none;
    padding    : 0;
    margin     : 0;
    height     : 200px;
    width      : 100%;
    text-align : center;
    display    : block;
}

#colors li.color, #colors .resetColors {
    width      : 30px;
    height     : 30px;
    background : #333;
    margin     : 15px 15px 0 0;
    cursor     : pointer;
    display    : inline-block;
    clear      : both;
    overflow   : hidden;
    -webkit-box-shadow : 0 0 3px #369aa9;
       -moz-box-shadow : 0 0 3px #369aa9;
         -o-box-shadow : 0 0 3px #369aa9;
        -ms-box-shadow : 0 0 3px #369aa9;
            box-shadow : 0 0 3px #369aa9;
    -webkit-transition : width .3s ease-in-out, height .3s ease-in-out, margin-bottom .3s ease-in-out;
       -moz-transition : width .3s ease-in-out, height .3s ease-in-out, margin-bottom .3s ease-in-out;
         -o-transition : width .3s ease-in-out, height .3s ease-in-out, margin-bottom .3s ease-in-out;
        -ms-transition : width .3s ease-in-out, height .3s ease-in-out, margin-bottom .3s ease-in-out;
            transition : width .3s ease-in-out, height .3s ease-in-out, margin-bottom .3s ease-in-out;
}

#colors li.color:hover {
    height : 40px;
    margin-bottom : -10px;
    -webkit-box-shadow : 0 0 5px #36CAC9;
       -moz-box-shadow : 0 0 5px #36CAC9;
         -o-box-shadow : 0 0 5px #36CAC9;
        -ms-box-shadow : 0 0 5px #36CAC9;
            box-shadow : 0 0 5px #36CAC9;
}

#colors li.color.active,
#colors li.color.active.picked {
    width         : 100px;
    height        : 30px;
    margin-bottom : 0;
}

#colors li.color input {
    border  : 0;
    width   : auto;
    padding : 5px;
}

#colors li.color.new-color {
    background : #369AA9;
    opacity    : .5;
}

#colors li.color.new-color:after {
    content     : "+";
    font-weight : bold;
    position    : absolute;
    color       : white;
    font-size   : 25px;
    margin-top  : 0;
    margin-left : -7px;
    text-shadow : 0 0 10px white;
}

#colors li.color.new-color:hover {
    opacity : 1;
    height  : 30px;
}

#colors li.color.picked {
    margin-bottom : -10px;
    height        : 40px;
    -webkit-box-shadow : 0 0 5px #36CAC9;
       -moz-box-shadow : 0 0 5px #36CAC9;
         -o-box-shadow : 0 0 5px #36CAC9;
        -ms-box-shadow : 0 0 5px #36CAC9;
            box-shadow : 0 0 5px #36CAC9;
}

#colors li.color.eraser {
    background : #222;
    width      : 80px;
    -webkit-box-shadow : 0 0 3px #777;
       -moz-box-shadow : 0 0 3px #777;
         -o-box-shadow : 0 0 3px #777;
        -ms-box-shadow : 0 0 3px #777;
            box-shadow : 0 0 3px #777;
}

#colors li.color.eraser:after {
    content     : "eraser";
    font-weight : bold;
    position    : absolute;
    color       : #ddd;
    font-size   : 20px;
    margin-top  : 2px;
    margin-left : -30px;
    text-shadow : 0 0 5px #777;
}

#colors li.color.eraser:hover {
    height  : 30px;
}

#colors li.color.eraser.active {
    -webkit-box-shadow : 0 0 3px #ddd;
       -moz-box-shadow : 0 0 3px #ddd;
         -o-box-shadow : 0 0 3px #ddd;
        -ms-box-shadow : 0 0 3px #ddd;
            box-shadow : 0 0 3px #ddd;
}
#colors li.color.eraser.active:after {
    color : white;
}

#colors .resetColors {
    width: 95px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
        -ms-box-shadow: none;
            box-shadow: none;
}
#colors .resetColors:hover {
    -webkit-box-shadow : 0 0 3px #369aa9;
       -moz-box-shadow : 0 0 3px #369aa9;
         -o-box-shadow : 0 0 3px #369aa9;
        -ms-box-shadow : 0 0 3px #369aa9;
            box-shadow : 0 0 3px #369aa9;
}
#colors .resetColors span {
    margin-top: 7px;
    display:    block;
    font-size:  14px;
    color:      #999;
}
#colors .resetColors:hover span {
    color: #39a;
}
