 /*
 * options.css
 * Copyright (c) 2013 Daniel Rodriguez
 * MIT License [http://www.opensource.org/licenses/mit-license.php]
 *
 * The second left-bar is where the options per-category appear.
 *
 */

#options {
    position   : fixed;
    top        : 0;
    left       : 220px;
    background : #1D1D1D;
    width      : 200px;
    height     : 100%;
    margin     : 0;
    padding    : 0;
}

#options .option {
    background : #1F1F1F;
    width      : 200px;
    height     : 100px;
    margin     : 5px 0px;
    text-align : center;
}

#options .option:hover {
    cursor     : pointer;
    background : -webkit-radial-gradient(ellipse at center, rgba(95,95,95,1) 0%,rgba(85,85,85,.2) 45%, rgba(65,65,65,0) 90%);
    background :    -moz-radial-gradient(ellipse at center, rgba(95,95,95,1) 0%,rgba(85,85,85,.2) 45%, rgba(65,65,65,0) 90%);
    background :      -o-radial-gradient(ellipse at center, rgba(95,95,95,1) 0%,rgba(85,85,85,.2) 45%, rgba(65,65,65,0) 90%);
    background :     -ms-radial-gradient(ellipse at center, rgba(95,95,95,1) 0%,rgba(85,85,85,.2) 45%, rgba(65,65,65,0) 90%);
    background :         radial-gradient(ellipse at center, rgba(95,95,95,1) 0%,rgba(85,85,85,.2) 45%, rgba(65,65,65,0) 90%);
    -webkit-box-shadow : inset 5px 0 0 #166A79;
       -moz-box-shadow : inset 5px 0 0 #166A79;
         -o-box-shadow : inset 5px 0 0 #166A79;
        -ms-box-shadow : inset 5px 0 0 #166A79;
            box-shadow : inset 5px 0 0 #166A79;
}
#options .option.active {
    -webkit-box-shadow : inset 5px 0 0 #369AA9;
       -moz-box-shadow : inset 5px 0 0 #369AA9;
         -o-box-shadow : inset 5px 0 0 #369AA9;
        -ms-box-shadow : inset 5px 0 0 #369AA9;
            box-shadow : inset 5px 0 0 #369AA9;
}

#options .option .three-dots {
    opacity       : 0.5;
    width         : 10px;
    height        : 10px;
    background    : #111;
    margin-top    : 45px;
    display       : inline-block;
}

#options .option .three-dots:before {
    content     : " ";
    width       : 10px;
    height      : 10px;
    background  : #111;
    margin-left : -20px;
    position    : absolute;
    display     : inline-block;
    -webkit-animation           : Glow 1s linear infinite;
    -webkit-animation-fill-mode : both;
}

#options .option .three-dots:after {
    content     : " ";
    width       : 10px;
    height      : 10px;
    background  : #111;
    margin-left : 12px;
    position    : absolute;
    display     : inline-block;
}

#options .option .three-dots:after,
#options .option .three-dots:before {
    -webkit-animation : Glow 1s linear infinite;
       -moz-animation : Glow 1s linear infinite;
            animation : Glow 1s linear infinite;
    -webkit-animation-fill-mode : both;
       -moz-animation-fill-mode : both;
            animation-fill-mode : both;
}

#options .option .three-dots:after {
    -webkit-animation-delay : 0.5s;
       -moz-animation-delay : 0.5s;
            animation-delay : 0.5s;
}

#options .option .cross {
    width      : 10px;
    height     : 40px;
    background : #444;
    margin-top : 28px;
    display    : inline-block;
    -webkit-box-shadow : 0 0 3px #444;
       -moz-box-shadow : 0 0 3px #444;
         -o-box-shadow : 0 0 3px #444;
        -ms-box-shadow : 0 0 3px #444;
            box-shadow : 0 0 3px #444;
}

#options .option .cross:after {
    content     : "";
    width       : 40px;
    height      : 10px;
    background  : #444;
    margin-top  : 15px;
    margin-left : -15px;
    display     : inline-block;
    -webkit-box-shadow : 0 0 3px #444;
       -moz-box-shadow : 0 0 3px #444;
         -o-box-shadow : 0 0 3px #444;
        -ms-box-shadow : 0 0 3px #444;
            box-shadow : 0 0 3px #444;
}

#options .option:hover .cross,
#options .option:hover .cross:after {
    background : #369AA9;
    -webkit-box-shadow : 0 0 3px #369AA9;
       -moz-box-shadow : 0 0 3px #369AA9;
         -o-box-shadow : 0 0 3px #369AA9;
        -ms-box-shadow : 0 0 3px #369AA9;
            box-shadow : 0 0 3px #369AA9;
}

#options .option canvas {
    margin-top : 12px;
}

@-webkit-keyframes Glow {
    0%   { background : #111; }
    50%  { background : #222; }
    100% { background : #111; }
}
@-moz-keyframes Glow {
    0%   { background : #111; }
    50%  { background : #222; }
    100% { background : #111; }
}
@keyframes Glow {
    0%   { background : #111; }
    50%  { background : #222; }
    100% { background : #111; }
}
