/*
 * overwrite_libs.css
 * Copyright (c) 2013 Daniel Rodriguez
 * MIT License [http://www.opensource.org/licenses/mit-license.php]
 *
 * Stiles that overwrite libs defaults.
 *
 */

/* To show the slimScrollBar as a rectangle.
 * */
.slimScrollBar {
    -webkit-border-radius : 0 !important;
       -moz-border-radius : 0 !important;
         -o-border-radius : 0 !important;
        -ms-border-radius : 0 !important;
            border-radius : 0 !important;
}
