/*
 * sidebar.css
 * Copyright (c) 2013 Daniel Rodriguez
 * MIT License [http://www.opensource.org/licenses/mit-license.php]
 *
 * First left-side bar styles.
 * It will hold the logo, the menu and the author.
 *
 */

#sidebar {
    position   : fixed;
    top        : 0;
    left       : 0;
    width      : 200px;
    height     : 100%;
    background : #333;
    padding    : 10px;
    color      : #dcdcdc;
    z-index    : 1000;
}

#sidebar #menu {
}

#sidebar .logo {
    text-align  : center;
    margin-left : -10px;
}

#sidebar .logo p {
    margin-top : 0px;
}

#sidebar .author {
    font-size  : 11px;
    position   : fixed;
    padding    : 0px 10px;
    bottom     : 0;
    background : rgba(51, 51, 51, .8);
}

#sidebar .author a {
    color : #369aa9
}

#sidebar ul {
    width        : 100%;
    padding-left : 0;
    margin-left  : -10px;
}

#sidebar #menu li {
    list-style : none;
    background : #2D2D2D;
    padding    : 10px;
    text-align : right;
    margin     : 3px 0;
    width      : 100%;
}

#sidebar #menu li:hover {
    background : #252525;
    color      : #369AA9;
    cursor     : pointer;
}

#sidebar #menu > li.active {
    background : #369AA9;
    color      : white;
}

#sidebar #menu li ul {
    padding : 0;
    display : none;
}

#sidebar #menu li span {
    display : none;
}

#sidebar #menu li ul li {
    margin     : 10px 0 -10px;
    background : #252525;
    color      : #369AA9;
    cursor     : pointer;
}

#sidebar #menu li ul li:hover {
    background : #2D808C;
    color      : white;
}

#sidebar #menu li ul li.active {
    background : #369AA9;
    color      : white;
}
